[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/tmux/plugins/tmux-battery"]
	path = .config/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule ".config/tmux/plugins/tmux-cpu"]
	path = .config/tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule ".config/lazygit/themes/lazygit"]
	path = .config/lazygit/themes/lazygit
	url = https://github.com/catppuccin/lazygit.git
[submodule ".config/tmux/plugins/catppuccin/tmux"]
	path = .config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
